<div class="container mt-4  ">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark animate__animated animate__fadeIn">
    <div class="col-md-7 px-0">
      <h1 class="display-4 fst-italic">{{tittle}}</h1>
      <p class="lead my-3">Seleccione algun Álbum para poder ver sus fotos.</p>

    </div>
  </div>

  <div class="row mb-2 animate__animated animate__fadeIn ">
    <div class="col-md-6" style="cursor: pointer;" (click)="selecAlbum(album)" *ngFor="let album of listAlbums " >
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Álbum N° {{album?.id}}</strong>
          <h1>Titulo:</h1>
          <h2 class="mb-5">{{album?.title}}</h2>

        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" [src]="imgRandom(album?.id)" role="img">
        </div>
      </div>
    </div>
  </div>
</div>
